//background
$primary-background: #808080;
$secondary-background: #ffffff;
$input-background: #80808034;
$btn-background: #1286ca;
//border
$primary-border: #000000;
//accent
$primary-accent-background: #808080;
$btn-accent-background: #0000ff;
//text-color
$primary-text-color: #ffffff;
